# Banco de dados
/storage/database/*.sqlite
/storage/database/*.sqlite-wal
/storage/database/*.sqlite-shm
/storage/database/*.sqlite-journal

/storage/database/*.db
/storage/database/*.db-wal
/storage/database/*.db-shm
/storage/database/*.db-journal

# Logs
/storage/logs/*
!/storage/logs/.gitkeep

# Variáveis de ambiente
.env
.env.*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependências futuras
/vendor/
node_modules/

# Arquivos temporários
*.tmp
*.log

# Backups
*.bak
*.backup
/storage/backups/
/storage/testing/
/storage/sessions/
/storage/presentation-build/
